RewriteEngine On

# Check if the requested file exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If the file doesn't exist, route the request to index.php
RewriteRule ^(.*)$ index.php [QSA,L]